@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*navbar styling*/

.navbar {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #0C120C;
}
.navbar.sticky .logo a span{
    color: darkcyan;
    transition: all 0.3s ease;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #fff;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a:hover{
    color: rgb(25, 197, 228);
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

/*Menu btn styling*/

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-b{
    position: fixed;
    height: 45px;
    width: 43px;
    background: darkcyan;
    bottom: 10px;
    right: 28px;
    text-align: center;
    color: white;
    font-size: 28px;
    z-index: 9999;
    line-height: 43px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-b .show{
    opacity: 1;
    pointer-events: auto;
    bottom: 28px;
}

/*home styling*/

.home{
    display: flex;
    background: url("/images/boris-stefanik-wxJscL5ZzDA-unsplash.jpg") no-repeat center;
    height: 100vh;
    color:rgb(224, 17, 17);
    min-height: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home .max-width{
    margin: auto center auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    color:darkturquoise;
}

.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3;
    color:rgba(235, 136, 8, 0.596);
}
.home .home-content .text-3{
    font-size: 27px;
    margin: 5px 0;
}
.home .home-content .text-4{
    font-size: 40px;
    color:#e1e2d4;
}

.home .home-content .text-3 span{
    color: rgb(17, 224, 69);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: darkcyan;
    color: #fff;
    font-size: 17px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid darkcyan;
    transition: all 0.3s ease;
}
.about .about-content .column{
    width: 50%;
}
.home .home-content a:hover{
    color: darkred;
    font-weight: bold;
    background: whitesmoke;
}
.home .home-content span{
    font-size: smaller;
    color: lightslategray;
    font-style: initial;
}


/*About styling*/

section{
    padding: 50px 0;
}
.about, .contact{
    font-family: 'poppins', sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 27px;
    font-weight: 200px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about{
    font-family: 'poppins', sans-serif;
    background: lightslategray;
}
section .title::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 3px;
    bottom: 3px;
    left: 50%;
    background: darkcyan;
    transform: translateX(-50%);
}
section .title::after{
    content: "";
    position: absolute;
    /*bottom: -7px;*/
    left: 50%;
    padding: 3px;
    font-size: 15px;
    color: none/*#0C120C*/;
    background: none;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    border-radius: 160px;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.about .about-content .right .text span{
    color: darkcyan;
}
.about .about-content .right p{
    text-align: justify;
}
.skills{
    display: block;
    position: relative;
    background: lightslategray;
    text-align: 0;
    font-size: 17px;
    font-weight: 200px;
    padding-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.skills .sa, .add{
    align-items: center;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.add-interest{
    display: flexbox;
    position: relative;
    text-align: 0;
    font-size: 17px;
    font-weight: 200px;
    padding-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    background: lightslategray;
}
section .interests :hover{
    transform: scale(1.05);
    color: rgb(247, 126, 14);
}
section .skills .left, .sa :hover{
    transform: scale(1.05);
    color: rgb(247, 126, 14);
}
section .add-interest .left-Handson-exp, .handson, .right-int .interests{
    align-items: justify;
    padding-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: space-between;
}

/*Contact*/

.contact .contact-content{
    display: flex;
    margin-left: 11px;
    flex-wrap: wrap;
    align-items: justify;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: 70%/*calc(50% - 30px)*/;
    margin-left: 11px;

}
.contact .contact-content .left p{
    text-align: justify;
    padding-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin-left: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: justify;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: darkcyan;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .title::after{
    content: "";
}
.contact .contact-content .right form .fields{
    display: flex;
}
.contact .contact-content .right form .field,
.contact .contact-content .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .contact-content .right form .field input,
.contact .contact-content .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightseagreen;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    background: lightgoldenrodyellow;
}
.contact .row form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 46px;
    width: 100%;
}
.contact .right form .button button{
    height: 100%;
    width: 40%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 80%;
    border: 1px solid lightseagreen;
    background: lightseagreen;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #fff;
}

/*Footer styling*/

.footr .copyright{
    display: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: smaller;
    margin-bottom: auto;
    background: black;
    color: #e1e2d4;
}

/*Responsive media query start*/

@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #0C120C;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
     }
     .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 55px;
    }
    .home .home-content .text-3{
        font-size: 19px;
    }
    .home .home-content a{
        font-size: 19px;
        padding: 9px 19px;
    }
    .about .about-content .column{
        width: 50%;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 13px;
    }
} 

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 19px;
    }
    .home .home-content a{
        font-size: 19px;
        padding: 9px 19px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content .text-3{
        font-size: 13px;
    }
}

.home .home-content .text-3{
        font-size: 19px;
    }
    .home .home-content a{
        font-size: 19px;
        padding: 9px 19px;
    }

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 35px;
    }
    .home .home-content .text-3{
        font-size: 13px;
    }
}